<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<!--
 * Copyright (c) 2013, 2014, 2015 QPark Consulting  S.a r.l.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v1.0.
 * The Eclipse Public License is available at
 * http://www.eclipse.org/legal/epl-v10.html.
-->
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMdd-HHmmss.SSS}[%contextName][%-5level][%c] %msg%n%ex</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework.web.servlet" level="DEBUG"/>
	<logger name="com.samples.platform.service.library" level="DEBUG"/>
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
