<?xml version="1.0" encoding="UTF-8" ?>
<configuration  scan="true" scanPeriod="60 seconds">
	<property name="logfile.datepattern" value="%d{yyyyMMdd-HHmmss.SSS}" />
	<property name="logfile.pattern" value="%d{yyyyMMdd-HHmmss.SSS}[%contextName][%-5level][%c] %msg [%-10thread]%n%ex" />
	<property name="logfile.destination" value="${catalina.base}/logs" />
	<property name="logfile.application" value="com.samples.platform" />

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder><pattern>${logfile.pattern}</pattern></encoder>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

