<?xml version="1.0" encoding="UTF-8" ?>
<configuration  scan="true" scanPeriod="60 seconds">
	<property name="logfile.datepattern" value="%d{yyyyMMdd-HHmmss.SSS}" />
	<property name="logfile.pattern" value="%d{yyyyMMdd-HHmmss.SSS}[%contextName][%-5level][%c] %msg [%-10thread]%n%ex" />
	<property name="logfile.destination" value="${catalina.base}/logs" />
	<property name="logfile.application" value="com.samples.platform" />

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>WARN</level></filter>
		<encoder><pattern>${logfile.pattern}</pattern></encoder>
	</appender>
	<appender name="FILE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>WARN</level></filter>-->
		<file>${logfile.destination}/${logfile.application}-trace.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logfile.destination}/${logfile.application}-trace.%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>30MB</maxFileSize>
		</triggeringPolicy>
		<encoder><pattern>${logfile.pattern}</pattern></encoder>
	</appender>
	<appender name="FILE_STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logfile.destination}/${logfile.application}-statistic.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logfile.destination}/${logfile.application}-statistic.%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder><pattern>[%contextName], [%c], %msg, [%-10thread]%n</pattern></encoder>
	</appender>

	<logger name="com.samples.platform" level="DEBUG" additivity="true" />
	<logger name="com.qpark.eip.core.spring.statistics.impl.AppUserStatisticsChannelAdapter" level="TRACE" additivity="true">
		<appender-ref ref="FILE_STATISTICS" />
	</logger>
	<logger name="com.qpark.eip.core.spring.statistics.impl.SysUserStatisticsChannelInvocationListener" level="TRACE" additivity="true">
		<appender-ref ref="FILE_STATISTICS" />
	</logger>

	<!-- spring -->
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.web.context.ContextLoader" level="INFO" />
	<logger name="org.springframework.integration.gateway.GatewayProxyFactoryBean" level="ERROR" />

	<logger name="com.qpark.eip.core.spring.PayloadLogger" level="WARN"/>
	<!--
	<logger name="org.springframework.ws.server.endpoint.interceptor.AbstractValidatingInterceptor" level="WARN" />
	<logger name="org.springframework.security" level="WARN" />
	<logger name="org.springframework.ldap" level="WARN" />
	<logger name="org.springframework.integration" level="WARN" />
	-->

	<!-- To log all server-side messages, simply set the org.springframework.ws.server.MessageTracing logger to level DEBUG or TRACE. On the debug level, only the payload root element is logged; on the TRACE level, the entire message content. If you only want to log sent messages, use the org.springframework.ws.server.MessageTracing.sent logger; or org.springframework.ws.server.MessageTracing.received to log received messages. On the client-side, similar loggers exist: org.springframework.ws.client.MessageTracing.sent and org.springframework.ws.client.MessageTracing.received. -->
	<!--
	<logger name="org.springframework.ws.server.MessageTracing.sent" level="TRACE" />
	<logger name="org.springframework.ws.server.MessageTracing.received" level="TRACE" />
	<logger name="org.springframework.ws.client.MessageTracing.sent" level="TRACE" />
	<logger name="org.springframework.ws.client.MessageTracing.received" level="TRACE" />

	<logger name="org.springframework.ws.client.core.WebServiceTemplate" level="DEBUG"/>
	-->
	<logger name="org.springframework.ws.client.core.WebServiceTemplate" level="DEBUG"/>

	<!-- spring security -->
	<!--
	<logger name="org.springframework.integration.security" level="TRACE" />
	<logger name="org.springframework.ws.soap.security" level="TRACE" />
	<logger name="org.springframework.security.core" level="TRACE" />
	<logger name="org.springframework.security.authentication" level="TRACE" />
	<logger name="org.springframework.security.access" level="TRACE" />
	-->

	<!-- JDBC message store and queue log -->
	<!--
	<logger name="org.springframework.jdbc.store" level="TRACE" />
	<logger name="org.springframework.jdbc.object" level="TRACE" />
	<logger name="org.springframework.jdbc.support" level="TRACE" />
	<logger name="org.springframework.jdbc.core" level="TRACE" />
	<logger name="org.springframework.jdbc.core.namedparam" level="TRACE" />
	<logger name="org.springframework.integration.jdbc.store" level="TRACE" />
	<logger name="org.springframework.integration.channel.QueueChannel" level="TRACE" />
	-->

	<!-- database -->
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework.transaction" level="WARN" />
	<logger name="org.springframework.jdbc" level="WARN" />
	<logger name="org.springframework.orm.jpa" level="WARN" />

	<!-- SQL logs statements, BasicBinder logs parameters, BasicExtractor logs results -->
	<!--
	<logger name="org.hibernate.SQL" level="TRACE" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" />
	-->

	<include resource="logback-include.xml"/>

	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_TRACE" />
	</root>
</configuration>

